body {
	background-color: #DDDDDD;
}

.wrapper{
  max-width: 300px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  margin-top: 200px;
}
  
