body {
	background-color: white;
}

.wrapper{
  background-color: #DDDDDD;	
  max-width: 800px;
  margin: auto;
}

.center {
  height: 2000px;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

